address{
    margin-left: 20px;
}
p {
    margin-right: 20px;
    margin-left: 20px;
  }
      
      .heading {
            margin-left: 20px;
            font-size: 19px;
            font-weight: bold;
            font-family: "Calibri", sans-serif;
            text-align: justify;
        
        }

        .bodyText {
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 8.0pt;
            margin-left: 0cm;
            font-size: 16px;
            font-family: "Calibri", sans-serif;
            text-align: justify;
        }
 